@import "colors.css";
@import "navbar.css";
@import "win-loss-bar.css";

body {
	margin: 0;
	height: 100vh;
	background: var(--background);
	color: var(--text);
	font-family: "Open Sans", sans-serif;
}

main {
	margin: 50px;
	display: flex;
	gap: 50px;
	height: calc(100% - 150px);
}

main > * {
	background: var(--background-secondary);
	border-radius: 20px;
}

main article {
	flex: 1;
	padding: 20px 50px;
}

main article .main-wrapper {
	display: flex;
	gap: 50px;
}

main article .main-wrapper > div {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	text-align: center;
}

main article form {
	display: flex;
	flex-direction: column;
	width: 300px;
	gap: 20px;
}

#reset-wrapper {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s;
}

#reset-wrapper.shown {
	opacity: 1;
	pointer-events: all;
}

input {
	padding: 6px;
	background: var(--background);
	color: var(--text);
	border: 2px solid var(--primary);
	border-radius: 6px;
	width: 100%;
	height: 50px;
	font-size: 20px;
	box-sizing: border-box;
}

.err {
	color: var(--red);
}

button {
	padding: 6px;
	background: var(--background);
	color: var(--text);
	box-sizing: border-box;
	height: 50px;
	width: 300px;
	border: 2px solid var(--primary);
	border-radius: 6px;
	cursor: pointer;
	font-size: 20px;
	transition: background 0.3s;
}

button:hover {
	background: var(--background-secondary);
}

button:active {
	transition: none;
	background: var(--background-tertiary);
}

input:focus,
button:focus {
	outline: none;
}

main aside {
	width: 300px;
	text-align: center;
	padding: 20px;
}

aside table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

td {
	height: 40px;
	width: 50%;
}
