@import "colors.css";
@import "navbar.css";
@import "win-loss-bar.css";

body {
	margin: 0;
	height: 100vh;
	background: var(--background);
	color: var(--text);
	font-family: "Open Sans", sans-serif;
}

main {
	display: flex;
	gap: 100px;
	justify-content: center;
	align-items: center;
	height: calc(100% - 50px);
	position: relative;
}

main > * {
	height: 800px;
	background: var(--background-secondary);
	border-radius: 16px;
	box-sizing: border-box;
	padding: 20px;
}

aside {
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 20px;
}

.left .bet-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.left form {
	display: flex;
	background: var(--background);
	border-radius: 6px;
	overflow: hidden;
	border: 2px solid var(--primary);
	height: 50px;
	box-sizing: border-box;
	margin: 0 0 20px 0;
}

.left input[type=radio] {
	display: none;
}

.left label {
	width: 50%;
	height: 100%;
	padding: 6px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	transition: background 0.3s, color 0.3s;
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-size: 20px;
}

.left input[type=radio]:checked + label {
	background: var(--primary);
	color: var(--background);
}

.left .input-container,
.left .input-container div {
	margin: 0 0 20px 0;
	display: flex;
}

.left input[type=text] {
	padding: 6px;
	background: var(--background);
	color: var(--text);
	border: 2px solid var(--primary);
	border-radius: 6px 0 0 6px;
	width: calc(100% - 98px);
	height: 50px;
	font-size: 20px;
	box-sizing: border-box;
}

.left input[type=text].incorrect {
	color: var(--red);
}

#amount-raw {
	display: none;
}

.left .input-container button {
	border-left: none;
	width: 50px;
	border-radius: 0;
}

#double,
#win-multiplier-reset,
#loss-multiplier-reset {
	border-radius: 0 6px 6px 0;
}

.left .bet-choices {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#random-bet {
	border-radius: 6px 6px 0 0;
	border-bottom: none;
	grid-column: 1 / span 3;
}

#rock-bet {
	border-radius: 0 0 0 6px;
	border-right: none;
}

#paper-bet {
	border-radius: 0;
	border-right: none;
}

#scissors-bet {
	border-radius: 0 0 6px 0;
}

p:has(#balance) {
	margin-top: auto;
	font-size: 22px;
	font-weight: 700;
}

.left .input-container input[type="text"] {
	width: calc(100% - 49px);
}

h2 {
	font-size: 20px;
	margin: 0;
	cursor: default;
}

button {
	padding: 6px;
	background: var(--background);
	color: var(--text);
	box-sizing: border-box;
	height: 50px;
	border: 2px solid var(--primary);
	border-radius: 6px;
	cursor: pointer;
	font-size: 20px;
	transition: background 0.3s;
}

button:hover {
	background: var(--background-secondary);
}

button:active {
	transition: none;
	background: var(--background-tertiary);
}

input:focus,
button:focus {
	outline: none;
}

button.checked {
	color: var(--background);
	background: var(--primary);
}

p {
	display: flex;
	justify-content: space-between;
	margin: 0;
}

p span {
	flex: 1;
	text-align: right;
}

article {
	width: 800px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

article img {
	height: 250px;
	margin: 0 400px 0 0;
	transform: rotate(90deg);
	color: var(--text);
	transition: opacity 0.2s ease-out;
}

article img:nth-of-type(2) {
	margin: 0 0 0 400px;
	-webkit-transform: scaleX(-1);
	transform: rotate(-90deg) scaleX(-1);
}

article hr {
	width: 100%;
	height: 20px;
	border: none;
	background: var(--accent);
	border-radius: 10px;
	transform: rotate(-45deg);
	transition: background 0.3s, box-shadow 0.3s;
}

article hr.loss {
	background: var(--red);
	box-shadow: 0 0 20px var(--red),
				0 0 40px var(--red);
}

article hr.draw {
	background: var(--yellow);
	box-shadow: 0 0 20px var(--yellow),
				0 0 40px var(--yellow);
}

article hr.win {
	background: var(--green);
	box-shadow: 0 0 20px var(--green),
				0 0 40px var(--green);
}

#outcome {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28px;
	font-weight: 700;
	color: transparent;
	inset: 0;
	margin: auto;
	background: transparent;
	height: 1px;
	width: 1px;
	padding: 0;
	box-shadow: 0 0 80px 80px var(--background);
	border-radius: 50%;
	transform: scale(0);
	opacity: 0;
	transition: color 0.3s, opacity 0.3s, transform 0.3s;
}

#outcome.win {
	color: var(--green);
	transform: scale(1);
	opacity: 1;
}

#outcome.draw {
	color: var(--yellow);
	transform: scale(1);
	opacity: 1;
}

#outcome.loss {
	color: var(--red);
	transform: scale(1);
	opacity: 1;
}

.right .info-container {
	font-size: 16px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
